/* 기본 스타일 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    text-align: center;
}

/* 헤더 영역 */
header {
    background-color: #86c0ff;
    color: white;
    padding: 4.5rem 0;
    text-align: center;
}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2.5rem;
}

/* ABOUT ME 스타일 */
#about-me {
    background-color: #e9ecef;
    padding: 2rem;
    margin: 1rem auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

/* ABOUT ME - 아이콘과 정보 정렬 */
.info-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.info-item {
    display: flex;
    align-items: center;
    width: 250px; /* 각 정보 항목의 너비 */
}

.info-item i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.info-item span {
    font-size: 1rem;
}

.info-git {
    text-decoration-line: none;
    text-decoration-color: black;
}

/* 섹션 스타일 */
section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    color: #555;
}

/* SKILLS 섹션 스타일 */
#skills {
    padding: 2rem;
    margin: 1rem auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

/* 기술 카테고리 스타일 */
.skills-category {
    margin-bottom: 2rem;
}

.skills-category h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fc9708;
}

/* 기술 리스트 스타일 */
.skills-category ul {
    list-style-type: none;
    padding: 0;
}

.skills-category li {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
}

/* PROJECTS 섹션 스타일 */
#projects {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#projects h1 {
    margin-bottom: 2rem;
}

/* 프로젝트 각각의 레이아웃 */
.project {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

/* 프로젝트 이미지 스타일 */
.project-image {
    flex: 1;
    padding-right: 1rem;
}

.project-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 프로젝트 설명 스타일 */
.project-description {
    flex: 2;
    text-align: left;
}

.project-description h2 {
    margin-bottom: 0.5rem;
    color: #007BFF;
}

.project-description p {
    color: #555;
    font-size: 1rem;
}


/* 푸터 */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #86c0ff;
    color: white;
}
